{% extends "base.html" %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% include "navbar.html" %}

{% block content %}

<style>
    .tag {
        background-color: #ebf8ff;
        color: #3182ce;
        text-decoration: none;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 9999px;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    }

    .tag:hover {
        background-color: #3182ce;
        color: #ffffff;
        transform: scale(1.1);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="max-w-screen-xl mx-auto px-4">
    <main class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-8">
<!-- Main modal -->
<div id="deleteModal" tabindex="-1" aria-hidden="true"
    class="hidden fixed inset-0 z-50 flex justify-center items-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-4 w-full max-w-md">
        <!-- Modal content -->
        <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <button type="button" onclick="toggleModal()"
                class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-toggle="deleteModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto" aria-hidden="true"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
            <p class="mb-4 text-gray-500 dark:text-gray-300">Are you sure you want to delete this item?</p>
            <div class="flex justify-center items-center space-x-4">
                <button onclick="toggleModal()" type="button"
                    class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    No, cancel
                </button>
                <!-- Form for deletion -->
                <form action="{% url 'article:delete_article' article.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit"
                        class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                        Yes, I'm sure
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

        <!-- Left Column: Article Content -->
        <div class="col-span-2">
            <div class="mb-4 md:mb-0 w-full max-w-screen-md mx-auto relative" style="height: 24em;">
                <div class="absolute left-0 bottom-0 w-full h-full z-10"
                    style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>

                {% if article.image %}
                <img src="{{ article.image}}" class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
                {% else %}
                <img src="https://via.placeholder.com/400"
                    class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
                {% endif %}

                <div class="p-4 absolute bottom-0 left-0 z-20">
                    <a href="{% url 'article:show_article' %}?tag={{ article.tags }}" class="px-4 py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2">
                        {{ article.tags }}
                    </a>
                    <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
                        {{ article.title }}
                    </h2>
                    <div class="flex mt-3">
                        <img src="https://www.svgrepo.com/show/43652/avatar.svg"
                            class="h-10 w-10 rounded-full mr-2 object-cover" />
                        <div>
                            <p class="font-semibold text-gray-200 text-sm">{{ article.author }}</p>
                            <p class="font-semibold text-gray-400 text-xs">{{ article.publication_date|date:"j M Y" }}
                            </p>
                        </div>
                    </div>
                {% if user.is_authenticated and user.is_superuser %}
                <!-- Edit and Delete Buttons -->
                <div class="mt-4">
                    <button id="openEditModal"
                        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition duration-200">
                        Edit
                    </button>
                    <button id="openDeleteModal"
                        class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition duration-200 ml-2">
                        Delete
                    </button>
                  
                </div>
                {% endif %}
                <!-- Edit Article Modal -->
                <div id="editArticleModal" class="fixed inset-0 z-50 flex items-center justify-center hidden">
                    <div class="bg-white rounded-lg shadow-lg p-6 w-11/12 md:w-1/3">
                        <h2 class="text-xl font-semibold mb-4">Edit Article</h2>
                        <form id="editArticleForm">
                            {% csrf_token %}
                            <input type="hidden" name="article_id" id="article_id" value="{{ article.id }}">
                
                            <div class="mb-4">
                                <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                                <input type="text" name="title" id="title" value="{{ article.title }}"
                                    class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                            </div>
                            <div class="mb-4">
                                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                                <textarea name="description" id="description" rows="3"
                                    class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                                    required>{{ article.description }}</textarea>
                            </div>
                            <div class="mb-4">
                                <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
                                <textarea name="content" id="content" rows="5"
                                    class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                                    required>{{ article.content }}</textarea>
                            </div>
                            <button type="button" id="saveChanges"
                                class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition duration-200">Save
                                Changes</button>
                            <button type="button" id="closeModal"
                                class="ml-2 px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400 transition duration-200">Cancel</button>
                        </form>
                    </div>
                </div>

                </div>
            </div>

            <div class="px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed">
                <p class="pb-6">{{ article.description }}</p>
                <p>{{ article.content }}</p>
            </div>
        </div>

        <!-- Right Column: Related Articles and Tags -->
        <aside class="hidden md:block">
            <h2 class="text-xl font-semibold mb-4">Related Articles</h2>
            <div class="space-y-4">
                {% for related_article in related_articles %}
                <a href="{% url 'article:detail_blog' related_article.id %}"
                    class="block bg-white rounded-lg shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-lg">
                    {% if related_article.image %}
                    <img src="{{ related_article.image}}" class="h-32 w-full object-cover"
                        alt="{{ related_article.title }}">
                    {% else %}
                    <img src="https://via.placeholder.com/200" class="h-32 w-full object-cover" alt="Placeholder Image">
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-blue-600 font-semibold text-lg">{{ related_article.title }}</h3>
                        <p class="text-gray-600 text-sm mt-1">{{ related_article.description|truncatewords:10 }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="mt-6">
                <h3 class="text-lg font-semibold mb-2">Explore Tags</h3>
                <div class="flex flex-wrap gap-2">
                    <a href="{% url 'article:show_article' %}?tag=art" class="tag">#Art</a>
                    <a href="{% url 'article:show_article' %}?tag=heritage" class="tag">#Heritage</a>
                    <a href="{% url 'article:show_article' %}?tag=culture" class="tag">#Culture</a>
                    <a href="{% url 'article:show_article' %}?tag=craft" class="tag">#Craft</a>
                    <a href="{% url 'article:show_article' %}?tag=travel" class="tag">#Travel</a>
                </div>
            </div>
        </aside>

    </main>
</div>

{% block script %}
<script>
    function toggleModal() {
            const modal = document.getElementById("deleteModal");
            modal.classList.toggle("hidden");
        }
// JavaScript to open and close the delete modal
    const deleteButton = document.getElementById('openDeleteModal');
    const deleteModal = document.getElementById('deleteModal');
    const cancelDelete = document.getElementById('cancelDelete');

    deleteButton.addEventListener('click', () => {
        deleteModal.classList.remove('hidden');
    });

    cancelDelete.addEventListener('click', () => {
        deleteModal.classList.add('hidden');
    });
    document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById('deleteButton').click();
        });
    document.addEventListener('DOMContentLoaded', function () {
        const editModal = document.getElementById('editArticleModal');
        const saveButton = document.getElementById('saveChanges');
        const closeButton = document.getElementById('closeModal');

        // Open the modal when the edit button is clicked
        document.getElementById('openEditModal').addEventListener('click', function () {
            editModal.classList.remove('hidden');
        });

        // Close the modal
        closeButton.addEventListener('click', function () {
            editModal.classList.add('hidden');
        });

        // Save changes via AJAX
        saveButton.addEventListener('click', function () {
            const formData = new FormData(document.getElementById('editArticleForm'));

            fetch("{% url 'article:edit_article' article.id %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Update the article details in the UI
                    document.querySelector('.article-title').textContent = data.title;
                    document.querySelector('.article-description').textContent = data.description;
                    document.querySelector('.article-content').textContent = data.content;

                    editModal.classList.add('hidden'); // Close the modal
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });
    });
</script>
{% endblock script %}
{% endblock content %}


