{% load humanize %}
<div class="bg-white rounded-2xl shadow-lg p-4 w-60 h-96 flex flex-col justify-between relative transition-transform duration-300 transform hover:scale-105 hover:shadow-2xl overflow-hidden">
    <!-- Gambar Produk -->
    <div class="w-full h-44 overflow-hidden rounded-t-2xl">
        <img 
            src="{{ product.image }}" 
            alt="{{ product.name }}" 
            class="w-full h-full object-cover"
        />
    </div>

    <!-- Informasi Produk -->
    <div class="mt-2 flex-1 text-center">
        <h3 class="text-lg font-semibold truncate">{{ product.name }}</h3>
        <p class="text-gray-500 mt-1">by {{ product.toko }}</p>
        
    </div>

    <!-- Harga Produk -->
    <p class="text-gray-700 font-bold text-center mt-1">
        Price: Rp{{ product.harga|intcomma }}
    </p>

    <!-- Tombol Add to Cart -->
    <div class="mt-2">
        <a href="detail/{{ product.pk }}" 
           class="w-full flex justify-center">
            <button 
                class="bg-[#a97142] hover:bg-[#8a5c2e] text-white font-semibold py-2 px-4 rounded-full w-[90%] transition-transform duration-300 transform hover:scale-105 flex items-center justify-center space-x-2">
   
                <span>Detail</span>
            </button>
        </a>
    </div>
</div>
