{% extends "base.html" %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}

<style>
    .category-item:hover img {
        transform: scale(1.05);
        /* Slightly enlarge the image */
        transition: transform 0.3s ease;
        opacity: 0.8;
        /* Slightly dim the image on hover */
    }

    .category-item:hover .category-button {
        background-color: #000;
        /* Change background color of the button */
        color: #fff;
        /* Change text color to white */
        transform: scale(1.1);
        /* Slightly enlarge the button */
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    /* Add this CSS to your stylesheet */
    .hover\:zoom-image {
        transition: transform 0.3s ease;
    }

    .hover\:zoom-image:hover {
        transform: scale(1.05); /* Scale the image to 105% on hover */
    }

</style>

<section class="bg-white">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6x">
                Introducing DjogjaKarya</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-x">From
                DjogjaKarya serves as a bridge connecting Yogyakarta's cultural heritage with the digital realm.
                Inspired by the word
                <b>Djogja</b> symbolizing uniqueness and strength, and <b>Karya</b> representing the creations of
                artisans, DjogjaKarya is a
                platform dedicated to marketing Yogyakarta's handcrafted products to a broader audience. With product
                categories that
                include batik, leather crafts, Kotagede silver, wayang crafts, wooden crafts, woven items, Kasongan
                pottery, lurik woven
                fabric, and bamboo products, DjogjaKarya is committed to being a venue for local artisans to showcase
                their works to the
                wider community.
            </p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://i.imgur.com/ZXQEDdn.png" alt="mockup"
                class="hover:zoom-image transition-transform duration-300">
        </div>
    </div>
</section>

<section class="bg-[#716969]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-90">Discover the Charm of Djogjakarya</h2>
            <p class="mb-6 font-light text-white md:text-lg">Dive into the vibrant artistry and exquisite craftsmanship of beloved Yogyakarta. Discover the soul of Java
            through its unique art and cultural heritage like never before!</p>

            {% if user.is_authenticated %}
            <a href="{% url 'product:show_category' %}"
                class="text-white bg-[#E38E27] hover:bg-[#cc7f23] focus:ring-4 focus:ring-[#e6a550] font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
                Explore Now!
            </a>
            {% else %}
            <a href="{% url 'authentication:login' %}"
                class="text-white bg-[#E38E27] hover:bg-[#cc7f23] focus:ring-4 focus:ring-[#e6a550] font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
                Login Now
            </a>
            {% endif %}
        </div>
    </div>
</section>

<!-- Section Heading -->
<div class="text-center py-8">
    <h2 class="text-3xl font-bold">Our Product Categories</h2>
    <p class="text-gray-500 mt-2">Discover a variety of new products and collections</p>
</div>

<!-- Categories Grid -->
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6 px-4 md:px-8">

    <!-- Category Item 1 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://img.freepik.com/premium-vector/elegant-vector-javanese-ethnic-batik-pattern-template_1325579-615.jpg"
            alt="Art & Craft" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Batik"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Batik</a>
        </div>
    </div>

    <!-- Category Item 2 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://t3.ftcdn.net/jpg/02/26/92/86/360_F_226928653_CI7vW3087roWG6Ob9thI83Htd255aQyc.jpg"
            alt="Accessories" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kerajinan%20Kulit"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kerajinan
                Kulit</a>
        </div>
    </div>

    <!-- Category Item 3 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://img.freepik.com/free-photo/silver-aesthetic-wallpaper-with-decorations_23-2149871747.jpg"
            alt="Home Decor" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Perak%20Kotagede"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Perak
                Kotagede</a>
        </div>
    </div>

    <!-- Category Item 4 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://img.freepik.com/free-vector/wayang-kulit-abstract-person-clouds_52683-46747.jpg" alt="FnB"
            class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kerajinan%20Wayang"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kerajinan
                Wayang</a>
        </div>
    </div>

    <!-- Category Item 5 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://img.freepik.com/premium-photo/wooden-craft-floral-pattern-background-generative-aixa_174954-1884.jpg"
            alt="Fashion" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kerajinan%20Kayu"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kerajinan
                Kayu</a>
        </div>
    </div>

    <!-- Category Item 6 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNBX7I8TQW7SHCcSoIDXQispwmhe36wFHm4w&s"
            alt="Fashion" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kerajinan%20Anyaman"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kerajinan
                Anyaman</a>
        </div>
    </div>

    <!-- Category Item 7 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://cdn.shopify.com/s/files/1/0836/2769/files/hands-clay-pottery_600x600.jpg?v=1671439611"
            alt="Fashion" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kerajinan%20Gerabah"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kerajinan
                Gerabah</a>
        </div>
    </div>

    <!-- Category Item 8 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://d12oja0ew7x0i8.cloudfront.net/images/news/ImageForNews_59774_16606539847736385.jpg"
            alt="Fashion" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kerajinan%20Bambu"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kerajinan
                Bambu</a>
        </div>
    </div>

    <!-- Category Item 9 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDcwgUoIOogHLV9-USwv2jhHe_qgthcjvxAQ&s"
            alt="Fashion" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}?kategori=Kain%20Tenun%20Lurik"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">Kain
                Tenun Lurik</a>
        </div>
    </div>

    <!-- Category Item 10 -->
    <div class="relative rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0RDWhfkc4VOE5553krxeJOL-dxLLw-1EFdw&s"
            alt="Fashion" class="w-full h-48 object-cover">
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
            <a href="{% url 'product:show_category' %}"
                class="bg-white text-black font-semibold py-2 px-4 rounded-full transform transition-transform duration-300 hover:scale-110">All</a>
        </div>
    </div>

</div>

<section class="bg-white">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <!-- Text Section -->
        <div class="font-light text-gray-500 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Experience the Essence of Yogyakarta</h2>
            <p class="mb-4">We celebrate the rich craft and artistry of Yogyakarta, where tradition meets innovation. From skilled batik artisans to
            master sculptors, we draw inspiration from the vibrant creativity of our local culture.</p>
            <p>Let us help you bring your vision to life with the passion and artistry that defines Yogyakarta.</p>
        </div>

        <!-- Image Grid Section -->
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg hover:scale-105 transition-transform duration-300"
                src="https://jogjapasaraya.com/wp-content/uploads/2024/02/JOGJA-PASARAYA-770-x-960.webp"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg hover:scale-105 transition-transform duration-300"
                src="https://jogjapasaraya.com/wp-content/uploads/2024/03/DSC_0173-scaled.webp"
                alt="office content 2">
        </div>
    </div>
</section>
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const carouselElement = document.getElementById('default-carousel');

        const items = [
            {
                position: 0,
                element: carouselElement.querySelectorAll('[data-carousel-item]')[0]
            },
            {
                position: 1,
                element: carouselElement.querySelectorAll('[data-carousel-item]')[1]
            },
            {
                position: 2,
                element: carouselElement.querySelectorAll('[data-carousel-item]')[2]
            },
            {
                position: 3,
                element: carouselElement.querySelectorAll('[data-carousel-item]')[3]
            },
            {
                position: 4,
                element: carouselElement.querySelectorAll('[data-carousel-item]')[4]
            }
        ];

        const options = {
            defaultPosition: 0,
            interval: 3000, // Set to 3 seconds
            indicators: [], // Optional: Add custom indicators if needed
            onNext: () => console.log('Next item shown'),
            onPrev: () => console.log('Previous item shown'),
            onChange: (position) => console.log(`Changed to item ${position}`)
        };

        const carousel = new Flowbite.Carousel(carouselElement, items, options);

        // Start cycling the carousel
        carousel.cycle();

        // Optionally bind events to buttons
        document.querySelector('[data-carousel-next]').addEventListener('click', () => {
            carousel.next();
        });

        document.querySelector('[data-carousel-prev]').addEventListener('click', () => {
            carousel.prev();
        });
    });

</script>

{% endblock script %}
{% endblock content %}
